.paginationBullet {
  background-color: var(--color-watch-white);
  border: 1px solid var(--color-watch-gray2);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out;
}

.paginationBulletActive {
  background-color: var(--color-watch-primary);
  border-color: var(--color-watch-primary);
}

.swiperSlide {
  width: 100%;
}

@media (min-width: 640px) {
  .swiperSlide {
    margin-right: 1.5rem;
    width: calc((100% - 1.5rem) / 2);
  }
}

@media (min-width: 1024px) {
  .swiperSlide {
    width: calc((100% - 1.5rem * 2) / 3);
  }
}

@media (min-width: 1440px) {
  .swiperSlide {
    width: calc((100% - 1.5rem * 3) / 4);
  }
}
